# generated build files
node_modules
app/static/js
__pycache__
*.pyc
brands.json
categories.json
products.json
tags.json
.pylintrc
.coverage

# IDE files
.idea

# Private configuration
config.json
client-secret.json
credentials.tar.gz

# Temporary output
*.tmp