FORMAT: 1A
HOST: http://glmarous.me/

# glamrous.me

Glamrous has a simple API that lets you get information all your favorite makeup items.

## Products Collection [/products]

### List All Products [GET]

+ Response 200 (application/json)

        [
          {
            "description": "One innovative product, two ways to double the impact of your unique eye color! Simply smooth the silky, weightless liquid over lids for a shimmering splash of eye-enhancing color, or top with powder shadow for an even bolder, longer lasting look. Either way, feel confident knowing that the built-in primer ensures that the multi-dimensional finish won’t crease, fade, or smudge all day!How to Use: Apply to the inner corner of the lid and blend outwards using fingers. Apply more for a bolder pop of color, or layer under your favorite intense i-color shadow kit for an even more intense look.",
            "id": 1,
            "image_url": "https://d3t32hsnjxo7q6.cloudfront.net/i/757cf4197fe84ed9c1e2c21ed63d1be3_ra,w158,h184_pa,w158,h184.jpeg",
            "name": "Almay Intense i-Color Liquid Shadow + Color Primer",
            "price": 10.99,
            "rating": 4.50,
            "brand":
                {
                    "name": "almay",
                    "id": 1
                },
            "colors": [
                {
                    "hashcode": "#000000",
                    "name": "Black",
                    "id": 1
                }
            ],
            "tags": [
                {
                    "id": 1,
                    "name": "Organic"
                }
            ],
            "category": {
                "id": 1,
                "name": "eyeshadow"
            },
            "sub_category": {
                "id": 1,
                "name": "pencil"
            }
            },
            {
                "description": "Almay Smart Shade™ makeup makes it easy to find “the one” with just three skintone-adjusting shades to choose from, not hundreds! It adjusts to the natural tones and nuances of your skin with breakthrough new Almay ToneMimic™ shade-sensing bead technology which intuitively transforms to your skintone for all day natural looking coverage in your perfect shade. Contains broad spectrum SPF 15. HYPOALLERGENIC. DERMATOLOGIST TESTED. MADE FOR SENSITIVE SKIN.Shade Range:",
                "id": 2,
                "image_url": "https://d3t32hsnjxo7q6.cloudfront.net/i/afcbd92c05ea8b6452eabc80e2b9d549_ra,w158,h184_pa,w158,h184.jpeg",
                "name": "Almay Smart Shade Skintone Matching Makeup",
                "price": 17.29,
                "rating": 4.50,
                "brand": {
                    "name": "almay",
                    "id": 1
                },
                "colors": [
                    {
                        "hashcode": "#A0522D",
                        "id": 1
                    }
                ],
                "tags": [
                    {
                        "id": 1,
                        "name": "Organic"
                    }
                ],
                "category": {
                    "id": 1,
                    "name": "foundation"
                },
                "sub_category":{
                    "id": 1,
                    "name": "liquid"
                }
                
            }
          
        ]

## Product Collection [/products/{product_id}]

+ Parameters
    + product_id (number) - ID of the product in the form of an integer

### List Information of Product [GET]

+ Response 200 (application/json)

        {
          "description": "Play up your eye color with dramatic contrasting color! Define your eyes with bold color. Comes with a precision tip applicator so you can smoothly and easily create a high impact look. Features: Hypoallergenic non-irritating Ophthalmologist Clinically and allergy tested Suitable for contact lens wearers",
          "id": 1,
          "image_url":"https://d3t32hsnjxo7q6.cloudfront.net/i/6cf30fccb626b5b1eacc9db7b29dc6c2_ra,w158,h184_pa,w158,h184.jpeg",
          "name":"Almay Intense i-Colour Play Up Liquid Liner",
          "price": 10.99,
          "rating": 4.00,
          "brand": {
            "name": "almay",
            "id": 1
          },
          "category":
            {
                "id": 1,
                "name": "eyeliner"
            },
          "colors":
            [ 
                {
                    "hashcode":"#D3D3D3",
                    "name": "lightgray",
                    "id": 1
                }
            ],
            "sub_category": 
                {
                    "id": 1,
                    "name": "liquid"
                },
            "tags":
                [
                    {
                        "id": 1,
                        "name": "Canadian"
                    }
                ]
        }
            
## Brands Collection [/brands]

### List All Brands [GET]

+ Response 200 (application/json)

        [
            {
                "avg_price": 14.27, 
                "avg_rating": 4.15,
                "id": 1,
                "image_url": "https://pbs.twimg.com/profile_images/656096612448468992/Ha-ENJDj.png",
                "name": "benefit",
                "num_products": 43,
                "categories": [
                    {
                        "id": 1,
                        "name": "eyeliner"
                    },
                    {
                        "id": 2,
                        "name": "eyebrow"
                    },
                    {
                        "id": 3,
                        "name": "bronzer"
                    },
                    {
                        "id": 4,
                        "name": "mascara"
                    },
                    {
                        "id": 5,
                        "name": "foundation"
                    },
                    {
                        "id": 6, 
                        "name": "lipstick"
                    }
                ],
                "sub_categories": [
                    {
                        "id": 1,
                        "name": "liquid"
                    },
                    {
                        "id": 2,
                        "name": "powder"
                    },
                    {
                        "id": 3,
                        "name": "lip_gloss"
                    }
                    
                ],
                "tags":[
                    {
                        "id": 1,
                        "name": "Fair Trade"
                    }
                ]
              }
        ]

## Brand Collection [/brands/{brand_id}]

+ Parameters 
    + brand_id (number) - ID of the brand in the form of an integer

### List Information of Brand [GET]

+ Response 200 (application/json)

        {
            "avg_price": 12.79,
            "avg_rating": 3.60,
            "id": 1,
            "image_url": "http://www.logotypes101.com/logos/848/4EB2A4D7683533F8F80ABEFC588C22B0/Almay.png",
            "num_products": 14,
            "categories": [
                { 
                    "id": 1,    
                    "name": "eyeliner"
                },
                {
                    "id": 2,
                    "name": "lipstick"
                },
                {
                    "id": 3,
                    "name": "foundation"
                },
                {
                    "id": 4,
                    "name": "eyeshadow"
                },
                {
                    "id": 5,
                    "name": "blush"
                },
                {
                    "id": 6,
                    "name": "masacara"
                },
                {
                    "id": 7,
                    "name": "bronzer"
                }
            ],
            "products": [
                {
                    "id": 1,
                    "name": "Almay Smart Shade Anti-Aging Skintone Matching Makeup"
                },
                {
                    "id": 2,
                    "name": "Almay Smart Shade Skintone Matching Makeup"
                },
                {
                    "id": 3,
                    "name": "Almay Smart Shade Powder Bronzer"
                },
                {
                    "id": 4,
                    "name": "Almay Intense i-Color Volumizing Masacara"
                },
                {
                    "id": 5,
                    "name": "Almay One Coat Get Up & Grow Mascara"
                },
                {
                    "id": 6,
                    "name": "Almay Intense i-Color Liquid Shadow + Color Primer"
                },
                {
                    "id": 7,
                    "name": "Almay Intense i-Colour Play Up Liquid Liner"
                },
                {
                    "id": 8,
                    "name": "Almay Smart Shade Butter Kiss Lipstick"
                },
                {
                    "id": 9,
                    "name": "Almay One Coat Thickening Mascara"
                },
                {
                    "id": 10,
                    "name": "Almay Liquid Liner"
                },
                {
                    "id": 11,
                    "name": "Almay Intense i-Color Everyday Neutrals for Blue Eyes"
                },
                {
                    "id": 12,
                    "name": "Almay Smart Shade Powder Blush"
                },
                {
                    "id": 13,
                    "name": "Almay Intense i-Colour Bring Out Eyeliner"
                },
                {
                    "id": 14,
                    "name": "Almay Truly Lasting Color Makeup"
                }
            ],
            "sub_categories": [
                {
                    "id": 1,
                    "name": "powder"
                },
                {
                    "id": 2,
                    "name": "pencil"
                },
                {
                    "id": 3,
                    "name": "liquid"
                }
            ],
            "tags": [
                {
                    "id": 1,
                    "name": "Fair Trade"
                }
            ]
        }

## Category Collection [/categories]


### List All Categories [GET]

+ Response 200 (application/json)

        [
            {
                "avg_price": 14.03, 
                "avg_rating": 3.02, 
                "id": 1, 
                "name": "mascara", 
                "num_products": 69
                "brands": [
                   {
                        "id": 1,
                        "name":"suncoat"
                    },
                    {
                        "id": 2,
                        "name": "physicians formula"
                    },
                    {
                        "id": 3,
                        "name": "pacifica"
                    },
                    {
                        "id": 4,
                        "name": "maybelline"
                    },
                    {
                        "id": 5,
                        "name": "pure anada"
                    },
                    {
                        "id": 6,
                        "name": "wet n wild"
                    }
                ],
                "tags":[
                    {
                        "id": 1,
                        "name": "Gluten Free"
                    }
                ]
              }
        ]
        
## Category Collection [/categories/{category_id}]
+ Parameters 
    + category_id (number) - ID of the category in the form of an integer

### List Information of Category [GET]
+ Response 200 (application/json)

        {
            "avg_price": 19.07,
            "avg_rating": 2.75,
            "id": 1,
            "name": "blush",
            "num_products": 57,
            "brands":[
                {
                    "id": 1,
                    "name": "physicians formula"
                },
                {
                    "id": 2,
                    "name": "pacifica"
                },
                {
                    "id": 3,
                    "name": "sante"
                }
            ],
            "products": [
                {
                    "id": 1,
                    "name": "Physicians Formula Super BB All-in-1 Beauty Balm Cheek & Lip in Berry Pink"
                },
                {
                    "id": 2,
                    "name": "Physicians Formula Argan Wear Ultra-Nourishing Argan Oil Blush in Rose"
                },
                {
                    "id": 3,
                    "name": " Physicians Formula Happy Booster Glow & Mood Boosting Powder"
                }
            ],
            "sub_categories":[
                {
                    "id": 1,
                    "name": "powder"
                },
                {
                    "id": 2,
                    "name": "cream"
                }
            ],
            "tags":[
                {
                    "id": 1,
                    "name": "Natural"
                },
                {
                    "id": 2,
                    "name": "Vegan"
                }
            ]
        }
            
## SubCategories Collection [/sub_categories/{sub_category_id}]
+ Parameters 
    + sub_category_id (number) - ID of the sub_category in the form of an integer

### List Information of Sub_Category [GET]

+ Response 200 (application/json)

        {
            "avg_price": 11.36,
            "avg_rating": 2.54,
            "id": 1,
            "name": "pencil",
            "num_products": 53,
            "brands": 
                [
                    {
                        "id": 1,
                        "name":"physicians formula"
                    },
                    {
                        "id": 2,
                        "name": "wet n wild"
                    }
                ],
            "products":
                [
                    {
                        "id": 1,
                        "name": "Physicians Formula Shimmer Strips Extreme Shimmer Eyeliner Trio in Nude"
                    },
                    {
                        "id": 2,
                        "name": "Revlon PhotoReady Kajal Matte Eye Pencil"
                    }
                ],
            "tags":
                [
                    {
                        "id": 1,
                        "name": "vegan"
                    },
                    {
                        "id": 2,
                        "name": "natural"
                    },
                    {
                        "id":3,
                        "name": "Candadian"
                    },
                    {
                        "id": 4,
                        "name": "gluten free"
                    }
                ]
        }



## Tags Collection [/tags]

### List All Tags [GET]

+ Response 200 (application/json)

        [
            {
                "avg_price": 17.77, 
                "avg_rating": 2.97,
                "id": 1,
                "name": "Canadian",
                "num_products": 51,
                "brands": [
                  {
                    "id": 1, 
                    "name": "pure anada"
                  }, 
                  {
                    "id": 8, 
                    "name": "earth lab"
                  }, 
                  {
                    "id": 9, 
                    "name": "suncoat"
                  }, 
                  {
                    "id": 16, 
                    "name": "marcelle"
                  }, 
                  {
                    "id": 17, 
                    "name": "zorah"
                  }, 
                  {
                    "id": 21, 
                    "name": "dalish"
                  }, 
                  {
                    "id": 32, 
                    "name": "moov"
                  }, 
                  {
                    "id": 38, 
                    "name": "mistura"
                  }, 
                  {
                    "id": 40, 
                    "name": "saint cosmetics"
                  }
                ]
              }
        ]
## Tag Collection [/tags/{tag_id}]
+ Parameters
    + tag_id (number) - ID for tag as an Integer

### List Information for Tag [GET]

+ Response 200 (application/json)

        {
            "avg_price": 14.99,
            "avg_rating": 1.00,
            "id": 1,
            "name": "Dairy Free",
            "num_products": 3,
            "products": [
                {
                    "id": 1,
                    "name": "moov"
                }
            ],
            "brands":[
                {
                    "id": 1,
                    "name": "Moov Cosmetics Home Grown Canuck Collection"
                },
                {
                    "id": 2,
                    "name": "Moov Cosmetics St. Tropez Collection"
                },
                {
                    "id": 3,
                    "name": "Moov Cosmetics Caribbean Wedding Collection"
                }
            ]
            
        }

## Search Collection [/query]

### List information of Search [GET]

+ Response 200 (application/json)

        {
            "and_results":[
                {
                    "id": 1,
                    "name": "Physicians Formula Shimmer Strips Extreme",
                    "type": "eyeliner",
                    "url_type": "https://glamrous.me/products/3"
                }
            ],
            "keywords":[
                "eyeliner", 
            ],
            "or_results":[
                {
                    "id": 1,
                    "name": "Physicians Formula Shimmer Strips Kohl Kajal Eyeliner Trio",
                    "type": "eyeliner",
                    "url_type": "https://glamrous.me/products/21r"
                }
            ]